@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto+Mono:wght@200;400;700&display=swap');


$font-family: 'Roboto Mono', sans-serif;
$font-family-secondary: 'Montserrat', sans-serif;
$font-weight-regular:400;
$font-weight-slim: 200;
$font-weight-bold:700;
$primary-dark-blue:#082032;
$primary-dark-grey-blue:#2C394B;
$neutral-blue:#334756;
$primary-red: #FF4C29;
$font-size:0.9rem;

