@import 'resets';
@import 'variables';
@import 'responsiveness';
@import 'navbar';
@import 'about-me';
@import 'experience';
@import 'projects';
body{
    font-family: $font-family-secondary;
    background-color: $primary-dark-blue;
    color: #fff;
    font-size: $font-size;
}

h1{
    font-family: $font-family;
}

main{
    display: flex;
    max-width: 1200px;
    margin:0 auto;
    align-items: center;
    flex-direction: column;
}
.container{
    display: flex;
    padding: 0 2em;
    margin:5em auto;
    align-items: center;
    @include for-tablet-down{
        margin: 5em auto;
    }
}
