/*
  1. Use a more-intuitive box-sizing model.
*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto+Mono:wght@200;400;700&display=swap");
*, *::before, *::after {
  box-sizing: border-box;
}

/*
  2. Remove default margin
*/
* {
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

/*
  3. Allow percentage-based heights in the application
*/
html, body {
  height: 100%;
}

/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background-image: url("topography.svg");
  background-size: 500px;
  background-repeat: repeat;
}

/*
  6. Improve media defaults
*/
img, picture, video, canvas, svg {
  display: block;
  width: 100%;
  height: 100%;
}

/*
  7. Remove built-in form typography styles
*/
input, button, textarea, select {
  font: inherit;
}

/*
  8. Avoid text overflows
*/
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/*
  9. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

header {
  background-color: #2C394B;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 100;
}

.hamburger-container {
  position: absolute;
  right: 0;
  cursor: pointer;
  display: none;
}
@media screen and (max-width: 1200px) {
  .hamburger-container {
    display: block;
    right: 1em;
  }
}

.hamburger:hover {
  color: #FF4C29;
}

.show {
  opacity: 1;
  display: flex;
  height: auto;
}

.rotate {
  transform: rotate(180deg);
}

nav {
  font-family: "Roboto Mono", sans-serif;
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 1em 2em;
  max-width: 1200px;
  background-color: #2C394B;
}
nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  padding: 0;
}
nav ul li {
  padding: 0 1em;
}
@media screen and (max-width: 1200px) {
  nav ul li {
    padding: 1em;
  }
}
nav ul a {
  text-decoration: none;
  color: #fff;
}
nav ul span {
  color: #FF4C29;
}
nav ul a:hover {
  color: rgba(255, 255, 255, 0.5);
}
@media screen and (max-width: 1200px) {
  nav ul {
    display: none;
    height: 0;
    flex-direction: column;
    padding-bottom: 1em;
    position: absolute;
    background-color: #2C394B;
    right: 0;
    top: 60px;
    width: 100%;
  }
}

.about-me-section {
  flex-direction: row-reverse;
  gap: 150px;
  line-height: 1.8;
  padding: 0 2em;
}
.about-me-section .description-container {
  max-width: 700px;
}
.about-me-section .description-container .about-me {
  font-size: 1.5rem;
  font-family: "Roboto Mono", sans-serif;
  font-weight: 700;
  border-bottom: 2px solid #FF4C29;
  width: -moz-fit-content;
  width: fit-content;
  padding-right: 0;
  margin-bottom: 1em;
}
.about-me-section .description-container h1 {
  font-size: 3em;
  margin-bottom: 0.5em;
  line-height: 1.4;
}
.about-me-section .description-container p {
  padding-right: 5em;
}
@media screen and (max-width: 1200px) {
  .about-me-section .description-container p {
    padding-right: 0;
  }
}
.about-me-section .description-container button {
  border: none;
  margin-top: 1rem;
  padding: 0.5em 2em;
  background-color: transparent;
  border-bottom: 2px solid #FF4C29;
  border-left: 2px solid #FF4C29;
  color: #fff;
  text-decoration: none;
  font-size: 1.2rem;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}
.about-me-section .description-container button:hover {
  background-color: #FF4C29;
}
.about-me-section .description-container a {
  text-decoration: none;
  color: inherit;
}
@media screen and (max-width: 1200px) {
  .about-me-section {
    flex-direction: column;
    gap: 100px;
  }
}

.profile-img-container {
  max-width: 350px;
}
.profile-img-container img {
  border-radius: 10px;
}

.experience-section {
  display: flex;
  flex-direction: column;
  gap: 5em;
}
.experience-section h1 {
  width: -moz-fit-content;
  width: fit-content;
  border-bottom: 2px solid #FF4C29;
  padding-bottom: 0.5em;
  font-size: 1.5rem;
  align-self: flex-start;
}
.experience-section .experience-container {
  position: relative;
  width: 100%;
}
.experience-section .experience-container .experience {
  padding: 0.7em 3.125em;
  position: relative;
  width: 40%;
  animation: slowShow 1s linear forwards;
  opacity: 0;
  z-index: 0;
}
.experience-section .experience-container .experience .timeline-dot-right {
  width: 10px;
  height: 10px;
  background-color: darkslategray;
  border: 2px solid white;
  transform: rotate(45deg);
  position: absolute;
  z-index: 10;
  left: -46px;
  top: 50px;
}
@media screen and (max-width: 1200px) {
  .experience-section .experience-container .experience .timeline-dot-right {
    right: 0;
    left: -15px;
  }
}
.experience-section .experience-container .experience .timeline-dot-left {
  width: 10px;
  height: 10px;
  background-color: darkslategray;
  border: 2px solid white;
  transform: rotate(45deg);
  position: fixed;
  z-index: 10;
  right: -78px;
  top: 50px;
}
@media screen and (max-width: 1200px) {
  .experience-section .experience-container .experience .timeline-dot-left {
    right: 0;
    left: -15px;
  }
}
.experience-section .experience-container .experience .text-box {
  background-color: #2C394B;
  padding: 2em;
  position: relative;
  box-shadow: 0 15px 30px 1px rgba(0, 0, 0, 0.3);
}
.experience-section .experience-container .experience .text-box .title {
  font-size: 1.125rem;
  font-weight: 700;
  font-family: "Roboto Mono", sans-serif;
}
.experience-section .experience-container .experience .text-box .title .company-name {
  position: static;
  font-size: 0.8rem;
  color: rgba(255, 76, 41, 0.7);
  font-weight: 400;
  border: none;
  padding-left: 1em;
}
.experience-section .experience-container .experience .text-box .experience-date, .experience-section .experience-container .experience .text-box .experience-desc {
  font-size: 12px;
  padding: 0.5em 0;
}
@media screen and (max-width: 1200px) {
  .experience-section .experience-container .experience {
    width: 100%;
    padding: 0.7em 1em;
  }
  .experience-section .experience-container .experience .experience-right {
    left: 0;
  }
}
.experience-section .experience-container .experience:nth-child(1) {
  animation-delay: 1s;
}
.experience-section .experience-container .experience:nth-child(2) {
  animation-delay: 2s;
}
.experience-section .experience-container .experience:nth-child(3) {
  animation-delay: 3s;
}
.experience-section .experience-container .experience:nth-child(4) {
  animation-delay: 4s;
}
.experience-section .experience-container .experience-left {
  left: 0;
}
.experience-section .experience-container .experience-right {
  left: 50%;
}
@media screen and (max-width: 1200px) {
  .experience-section .experience-container .experience-right {
    left: 0;
  }
}
.experience-section .experience-container .experience-left span {
  position: absolute;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 15px solid #2C394B;
  right: -10px;
}
@media screen and (max-width: 1200px) {
  .experience-section .experience-container .experience-left span {
    border-left: none;
    border-right: 15px solid #2C394B;
    right: 100%;
  }
}
.experience-section .experience-container .experience-right span {
  position: absolute;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-right: 15px solid #2C394B;
  left: -10px;
}
.experience-section .experience-container::after {
  content: "";
  width: 3px;
  background-color: #fff;
  border-radius: 10px;
  height: 100vh;
  position: absolute;
  left: 50%;
  top: 0;
  margin-left: -3em;
  z-index: -1;
  animation: moveline 1s linear forwards;
}
@media screen and (max-width: 1200px) {
  .experience-section .experience-container::after {
    left: 30px;
  }
}

@keyframes slowShow {
  0% {
    opacity: 0;
    transform: translateY(-30px);
  }
  50% {
    opacity: 0.5;
    transform: translateY(-15px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
@keyframes moveline {
  0% {
    height: 0;
  }
  100% {
    height: 100%;
  }
}
.projects {
  flex-direction: column;
  width: 100%;
}
.projects h1 {
  width: 100%;
  margin-bottom: 1.5em;
  border-bottom: 2px solid #FF4C29;
  width: -moz-fit-content;
  width: fit-content;
  align-self: flex-start;
}
.projects .projects-grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  width: 100%;
}
.projects .projects-grid-container .project-title {
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 600;
}
.projects .projects-grid-container .project-description {
  padding: 1rem;
  height: auto;
}
.projects .projects-grid-container .project-img-container {
  position: relative;
}
.projects .projects-grid-container .project-img-container:hover .project-links {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  color: white;
}
.projects .projects-grid-container .project-img-container img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  height: 100%;
}
.projects .projects-grid-container .project-links {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.projects .projects-grid-container .project-links a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}
.projects .projects-grid-container .project-links a:hover {
  color: #FF4C29;
}
@media screen and (max-width: 700px) {
  .projects .projects-grid-container {
    grid-template-columns: 1fr;
  }
}

.project-desc {
  display: -webkit-box;
  line-clamp: 4;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

fa-js:hover {
  color: yellow;
}

.contact-me {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
}
.contact-me .contact-me-title {
  align-self: flex-start;
  border-bottom: 2px solid #FF4C29;
  margin-bottom: 2rem;
}
.contact-me .get-in-touch-container {
  width: 40%;
  padding: 2rem 1em;
  align-self: center;
  background-image: url(https://images.unsplash.com/photo-1483389127117-b6a2102724ae?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1074&q=80);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
  height: 525px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  border-radius: 10px;
}
.contact-me .get-in-touch-container a {
  color: lightblue;
}
@media screen and (max-width: 1200px) {
  .contact-me .get-in-touch-container {
    width: 100%;
    height: 200px;
  }
}
.contact-me .contact-me-form {
  width: 60%;
  padding: 2rem;
  border: 2px solid #FF4C29;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 3em;
}
.contact-me .contact-me-form .input-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.5rem;
}
.contact-me .contact-me-form .input-box input, .contact-me .contact-me-form .input-box textarea {
  background-color: #2C394B;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  border-bottom: 1px solid #FF4C29;
  color: #fff;
  outline: none;
}
.contact-me .contact-me-form .input-box input:focus {
  outline-color: #FF4C29;
}
.contact-me .contact-me-form .input-box-textarea {
  grid-column: 1/3;
}
.contact-me .contact-me-form .input-box-textarea textarea {
  width: 100%;
  height: 100px;
  background-color: #2C394B;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  border-bottom: 1px solid #FF4C29;
  color: #fff;
  outline: none;
  margin-top: 0.5rem;
  resize: none;
}
.contact-me .contact-me-form label {
  font-size: 1rem;
  font-weight: 700;
}
.contact-me .contact-me-form ::-moz-placeholder {
  color: rgba(255, 255, 255, 0.6);
}
.contact-me .contact-me-form ::placeholder {
  color: rgba(255, 255, 255, 0.6);
}
.contact-me .contact-me-form button {
  grid-column: 1;
  border: none;
  padding: 0.5rem 2rem;
  color: #fff;
  background-color: #082032;
  border-left: 1px solid #FF4C29;
  border-bottom: 1px solid #FF4C29;
  font-size: 1.2rem;
  width: 80%;
  transition: 0.5s ease-in-out;
}
.contact-me .contact-me-form button:hover {
  background-color: #FF4C29;
  cursor: pointer;
}
@media screen and (max-width: 1200px) {
  .contact-me .contact-me-form {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .contact-me .contact-me-form .contact-me-form {
    width: 100%;
  }
}

.contact-me-wrapper {
  display: flex;
  width: 100%;
  gap: 3rem;
}
@media screen and (max-width: 1200px) {
  .contact-me-wrapper {
    flex-direction: column;
  }
}

footer {
  background-color: #2C394B;
  padding: 1em 0;
}
footer .container {
  margin: 2rem auto;
}

.footer {
  display: flex;
  justify-content: center;
  gap: 10rem;
  max-width: 1200px;
}
.footer .footer-menu, .footer .footer-socials {
  display: flex;
  flex-direction: column;
}
.footer a {
  text-decoration: none;
  color: #fff;
  margin: 0.3rem 0;
}
.footer a:hover {
  color: rgba(255, 255, 255, 0.5);
}
@media screen and (max-width: 700px) {
  .footer {
    justify-content: space-between;
    gap: 0;
  }
}

.floating-socials {
  position: fixed;
  right: -15px;
  top: 40%;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  border-top: 1px solid #FF4C29;
  z-index: 10;
  border-bottom: 1px solid #FF4C29;
  padding: 1rem 0 1rem 1rem;
  border-radius: 15px;
}
.floating-socials .social-container {
  position: relative;
  width: 40px;
  height: 40px;
}
.floating-socials i {
  left: -33px;
  position: absolute;
  padding: 0.5rem;
  margin-right: 1em;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.floating-socials i:hover {
  transform: scale(1.5);
  color: #FF4C29;
}
.floating-socials a {
  text-decoration: none;
  color: #fff;
}
@media screen and (max-width: 1200px) {
  .floating-socials {
    display: none;
  }
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #082032;
  color: #fff;
  font-size: 0.9rem;
  position: relative;
}
body::-webkit-scrollbar {
  width: 8px;
  height: 4px;
}
body::-webkit-scrollbar-thumb {
  background-color: #2C394B;
  border-radius: 4px;
}
body h1 {
  font-family: "Roboto Mono", sans-serif;
}

main {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  align-items: center;
  flex-direction: column;
}

.container {
  display: flex;
  padding: 0 2em;
  margin: 5em auto;
  align-items: center;
}
@media screen and (max-width: 1200px) {
  .container {
    margin: 5em auto;
  }
}/*# sourceMappingURL=main.css.map */